server:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/kastuichik-cmd/spring-config-repo
          default-label: main
spring:
  kafka:
    bootstrap-servers: kafka:9092
  flyway:
    default-schema: public
    schemas: public

management:
  metrics:
    enable:
      kafka: true
  tracing:
    sampling:
      probability: 1.0
  observations:
    key-values:
      db:
        system: postgresql
  zipkin:
    tracing:
      endpoint: "http://zipkin:9411/api/v2/spans"
  health:
    circuitbreakers:
      enabled: true
    bulkheads:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    prometheus:
      enabled: true
    health:
      show-details: always

jwt:
  secret: ${JWT_SECRET}
  expiration-ms: 3600000