server:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/kastuichik-cmd/spring-config-repo
          default-label: main
jwt:
  secret: ${JWT_SECRET}
  expiration-ms: 3600000
spring:
  kafka:
    bootstrap-servers: kafka:9092


management:
  health:
    circuitbreakers:
      enabled: true
    bulkheads:
      enabled: true
    ratelimiters:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.kafka.listener.DeadLetterPublishingRecoverer: DEBUG